@font-face {
    font-family: Alkatra;
    src: url(./font/Alkatra/Alkatra-VariableFont_wght.ttf);
}

@font-face {
    font-family: Tilt_Neon;
    src: url(./font/Tilt_Neon/TiltNeon-Regular-VariableFont_XROT\,YROT.ttf);

}